@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --background-light: #f5f5f5;
  --background-dark: #1e1e1e;
  --font-sans: "Montserrat", sans-serif;
}
:root {
  --background-light: #f5f5f5;
  --background-dark: #1e1e1e;

  --card-size: 400px;
  --aspect-2\/1: 2 / 1;
  --aspect-3\/1: 3 / 1;
  --scale-200: 2;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;  
}

::-webkit-scrollbar-thumb {
  background: #cccccc40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  content: "";
  opacity: 0.035;
  z-index: 1000;
  pointer-events: none;
  background-image: url("/noise.gif");
}

.textarea::-webkit-scrollbar {
  display: none;
}